MQTT flow.txt
[{"id":"8c0cf3c1dc74433d","type":"tab","label":"MQTT flow (Luciana Serra)","disabled":false,"info":"","env":[]},{"id":"fa3dfe671ae98f33","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"Serra/#","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["289807288d38df82"]]},{"id":"289807288d38df82","type":"json","z":"8c0cf3c1dc74433d","name":"","property":"payload","action":"","pretty":true,"x":250,"y":80,"wires":[["39fb25430d388d39","a34ea943ceb66488","2756b203df39893a"]]},{"id":"39fb25430d388d39","type":"debug","z":"8c0cf3c1dc74433d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"a34ea943ceb66488","type":"switch","z":"8c0cf3c1dc74433d","name":"Switch 1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Serra/sensore/acqua","vt":"str"},{"t":"eq","v":"Serra/sensore/pompa","vt":"str"},{"t":"eq","v":"Serra/sensore/umidità","vt":"str"},{"t":"eq","v":"Serra/sensore/temperatura","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":560,"y":320,"wires":[["2dfed9e6cf0eec42"],["2a67bca9489b7646"],["f636889ff6eca198","bdce3aa4d717fc8d","12204eeb088e0b54","6ec0900e74e10354"],["748e00c0e03972b2","8cd08ed9932a3095","e80551e6917e5187","8577d879f1092ce6"]]},{"id":"f636889ff6eca198","type":"ui_chart","z":"8c0cf3c1dc74433d","name":"Humidity","group":"05f89358dcf8de6f","order":1,"width":"0","height":"0","label":"humidity over time (g/m^3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"humidity (g/m^3)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":280,"wires":[[]]},{"id":"bdce3aa4d717fc8d","type":"ui_gauge","z":"8c0cf3c1dc74433d","name":"","group":"05f89358dcf8de6f","order":2,"width":"0","height":"0","gtype":"gage","title":"humidity gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1040,"y":280,"wires":[]},{"id":"748e00c0e03972b2","type":"ui_chart","z":"8c0cf3c1dc74433d","name":"temperature","group":"a8073a801ee2e351","order":1,"width":"0","height":"0","label":"temperature over time (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d91212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":850,"y":360,"wires":[[]]},{"id":"8cd08ed9932a3095","type":"ui_gauge","z":"8c0cf3c1dc74433d","name":"","group":"a8073a801ee2e351","order":3,"width":"0","height":"0","gtype":"gage","title":"temperature gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1050,"y":360,"wires":[]},{"id":"0914c2bd08020995","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"Storage/serra","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":1350,"y":480,"wires":[["a94e758d34c76b71"]]},{"id":"a94e758d34c76b71","type":"json","z":"8c0cf3c1dc74433d","name":"","property":"payload","action":"","pretty":true,"x":1530,"y":480,"wires":[["0af584b460e72f15","b802266c522834eb"]]},{"id":"0af584b460e72f15","type":"debug","z":"8c0cf3c1dc74433d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1750,"y":480,"wires":[]},{"id":"526195343abca785","type":"file","z":"8c0cf3c1dc74433d","name":"","filename":"MQTTprogetto.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1930,"y":540,"wires":[[]]},{"id":"b802266c522834eb","type":"function","z":"8c0cf3c1dc74433d","name":"convert to csv file","func":"let d=new Date(); \n//let t=d.getTime(); // così lo dispone come una stringa di numeri\n//let h=d.toLocaleTimeString(); //così col formato HH:MM:SS\nlet y=d.getFullYear();\nlet m=(d.getMonth())+1;\nlet g=d.getDate();\nlet h=d.toLocaleTimeString();\nlet t= g+ \"-\" + m +\"-\" + y +\"---\"+h+\";\";\n\npayload={\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic};\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1710,"y":540,"wires":[["526195343abca785"]]},{"id":"09124b210960b8b5","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_hum_min","vt":"flow"},{"t":"gt","v":"valore_hum_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":600,"wires":[["aa6a943cc520299f"],["8c3146439dda0c59"]]},{"id":"98902ccac4cf909d","type":"ui_led","z":"8c0cf3c1dc74433d","order":28,"group":"f7fd674a766f1da1","width":0,"height":0,"label":"status hmin","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1170,"y":580,"wires":[]},{"id":"aa6a943cc520299f","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":560,"wires":[["98902ccac4cf909d"]]},{"id":"8c3146439dda0c59","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":600,"wires":[["98902ccac4cf909d"]]},{"id":"3536904b405a2abc","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_hum_max","vt":"flow"},{"t":"gt","v":"valore_hum_max","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":660,"wires":[["b8192fe3f385dcbd"],["d8e431af257add8b"]]},{"id":"b8192fe3f385dcbd","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":640,"wires":[["c609fdace3922296"]]},{"id":"d8e431af257add8b","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":680,"wires":[["c609fdace3922296"]]},{"id":"c609fdace3922296","type":"ui_led","z":"8c0cf3c1dc74433d","order":28,"group":"f7fd674a766f1da1","width":0,"height":0,"label":"status hmax","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1170,"y":660,"wires":[]},{"id":"565ac12c403e968e","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_temp_min","vt":"flow"},{"t":"gt","v":"valore_temp_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":740,"wires":[["bac5ff5791a7e132"],["4208afccdfef35a7"]]},{"id":"bac5ff5791a7e132","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":720,"wires":[["88296339e1a6275c"]]},{"id":"4208afccdfef35a7","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":760,"wires":[["88296339e1a6275c"]]},{"id":"88296339e1a6275c","type":"ui_led","z":"8c0cf3c1dc74433d","order":24,"group":"f7fd674a766f1da1","width":0,"height":0,"label":"status tmin","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1170,"y":740,"wires":[]},{"id":"3614941afeb1a9e1","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_temp_max","vt":"flow"},{"t":"gt","v":"valore_temp_max","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":820,"wires":[["5e989b5c2e13f6f8"],["c62ff89f8d1f3b8f"]]},{"id":"5e989b5c2e13f6f8","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":800,"wires":[["230f7dfbc95c259c"]]},{"id":"c62ff89f8d1f3b8f","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":840,"wires":[["230f7dfbc95c259c"]]},{"id":"230f7dfbc95c259c","type":"ui_led","z":"8c0cf3c1dc74433d","order":25,"group":"f7fd674a766f1da1","width":0,"height":0,"label":"status tmax","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1170,"y":820,"wires":[]},{"id":"6cbc03e5a27bb3af","type":"comment","z":"8c0cf3c1dc74433d","name":"led indicator","info":"led che mi danno informazioni se l'umidità e la temperatura sono dentro i livelli prestabiliti o meno","x":970,"y":520,"wires":[]},{"id":"2756b203df39893a","type":"switch","z":"8c0cf3c1dc74433d","name":"Switch 2","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Serra/sensore/umidità","vt":"str"},{"t":"eq","v":"Serra/sensore/temperatura","vt":"str"},{"t":"eq","v":"acqua","vt":"str"},{"t":"eq","v":"pompa","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":720,"wires":[["09124b210960b8b5","3536904b405a2abc"],["565ac12c403e968e","3614941afeb1a9e1"],[],[]]},{"id":"2a210e5f5adf5f8e","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/umidità_minima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":1490,"y":140,"wires":[["f1ff407f6b5285a8","6a752a7c841468e9"]]},{"id":"596fab79ea9e2343","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/temperatura_minima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":1500,"y":260,"wires":[["2339c21ea9a3b32a","69fdf367d3646af6"]]},{"id":"f1ff407f6b5285a8","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"serra/set/umidità_minima","vt":"str"},{"t":"eq","v":"serra/set/umidità_massima","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1710,"y":180,"wires":[["23a9aecd24bf754c"],["224c2e347277c9d9"]]},{"id":"23a9aecd24bf754c","type":"function","z":"8c0cf3c1dc74433d","name":"hmin","func":"flow.set (\"valore_hum_min\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":160,"wires":[[]]},{"id":"224c2e347277c9d9","type":"function","z":"8c0cf3c1dc74433d","name":"hmax","func":"flow.set (\"valore_hum_max\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":200,"wires":[[]]},{"id":"2339c21ea9a3b32a","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"serra/set/temperatura_minima","vt":"str"},{"t":"eq","v":"serra/set/temperatura_massima","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1730,"y":280,"wires":[["9657a67617e5f758"],["a315eeb2747d7909"]]},{"id":"9657a67617e5f758","type":"function","z":"8c0cf3c1dc74433d","name":"tmin","func":"flow.set (\"valore_temp_min\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":260,"wires":[[]]},{"id":"a315eeb2747d7909","type":"function","z":"8c0cf3c1dc74433d","name":"tmax","func":"flow.set (\"valore_temp_max\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":300,"wires":[[]]},{"id":"2dfed9e6cf0eec42","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":160,"wires":[["8a31bd47f4c88141","1fa1c25cf530d49b"],["8a31bd47f4c88141","1fa1c25cf530d49b"]]},{"id":"9c5884e0d7e6baa5","type":"ui_text","z":"8c0cf3c1dc74433d","group":"4b830275d50125ee","order":34,"width":0,"height":0,"name":"","label":"Tank status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1230,"y":160,"wires":[]},{"id":"1fa1c25cf530d49b","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"FULL","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"EMPTY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":160,"wires":[["9c5884e0d7e6baa5"]]},{"id":"8a31bd47f4c88141","type":"ui_led","z":"8c0cf3c1dc74433d","order":35,"group":"4b830275d50125ee","width":0,"height":0,"label":"Led Tank","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Led Tank","x":1040,"y":120,"wires":[]},{"id":"2a67bca9489b7646","type":"switch","z":"8c0cf3c1dc74433d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":220,"wires":[["5fe293adab484e06"],["5fe293adab484e06"]]},{"id":"5fe293adab484e06","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":220,"wires":[["8a3a98d3edb21f3c"]]},{"id":"8a3a98d3edb21f3c","type":"ui_text","z":"8c0cf3c1dc74433d","group":"9f28420e58981ba4","order":34,"width":0,"height":0,"name":"","label":"pump status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1250,"y":220,"wires":[]},{"id":"12204eeb088e0b54","type":"ui_chart","z":"8c0cf3c1dc74433d","name":"Humidity","group":"8ea92a7ff9e2785f","order":1,"width":"0","height":"0","label":"humidity over time (g/m^3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"humidity (g/m^3)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":320,"wires":[[]]},{"id":"6ec0900e74e10354","type":"ui_gauge","z":"8c0cf3c1dc74433d","name":"","group":"8ea92a7ff9e2785f","order":2,"width":"0","height":"0","gtype":"gage","title":"humidity gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1040,"y":320,"wires":[]},{"id":"e80551e6917e5187","type":"ui_chart","z":"8c0cf3c1dc74433d","name":"temperature","group":"a0d18eb35b549e3c","order":10,"width":"0","height":"0","label":"temperature over time (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d91212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":850,"y":400,"wires":[[]]},{"id":"8577d879f1092ce6","type":"ui_gauge","z":"8c0cf3c1dc74433d","name":"","group":"a0d18eb35b549e3c","order":15,"width":"0","height":"0","gtype":"gage","title":"temperature gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1050,"y":400,"wires":[]},{"id":"d6530990f92707a2","type":"comment","z":"8c0cf3c1dc74433d","name":"process graph","info":"grafici ed indicatori delle variabili","x":970,"y":60,"wires":[]},{"id":"06d7f3a2abb60fa9","type":"ui_text_input","z":"8c0cf3c1dc74433d","name":"hum min","label":"hum min setting","tooltip":"","group":"05f89358dcf8de6f","order":17,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"serra/set/umidità_minima","sendOnBlur":true,"className":"","topicType":"msg","x":100,"y":360,"wires":[["bd8eb1d261c0a1a8"]]},{"id":"d3fecd3821a41284","type":"ui_text_input","z":"8c0cf3c1dc74433d","name":"hum max","label":"hum max setting","tooltip":"","group":"05f89358dcf8de6f","order":17,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"serra/set/umidità_massima","sendOnBlur":true,"className":"","topicType":"msg","x":100,"y":420,"wires":[["66d307266888549b"]]},{"id":"c089f479bda3d1dd","type":"ui_text_input","z":"8c0cf3c1dc74433d","name":"temp min","label":"temp min setting","tooltip":"","group":"a8073a801ee2e351","order":7,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"serra/set/temperatura_minima","sendOnBlur":true,"className":"","topicType":"msg","x":100,"y":480,"wires":[["d43028733fd33ae3"]]},{"id":"ebabd7ed6e2f0b9b","type":"ui_text_input","z":"8c0cf3c1dc74433d","name":"temp max","label":"temp max setting","tooltip":"","group":"a8073a801ee2e351","order":8,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"serra/set/temperatura_massima","sendOnBlur":true,"className":"","topicType":"msg","x":100,"y":540,"wires":[["714ac8642c728eff"]]},{"id":"bd8eb1d261c0a1a8","type":"mqtt out","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/umidità_minima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":350,"y":360,"wires":[]},{"id":"66d307266888549b","type":"mqtt out","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/umidità_massima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":360,"y":420,"wires":[]},{"id":"d43028733fd33ae3","type":"mqtt out","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/temperatura_minima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":370,"y":480,"wires":[]},{"id":"714ac8642c728eff","type":"mqtt out","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/temperatura_massima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":370,"y":540,"wires":[]},{"id":"7a777bcfbb2ddae4","type":"comment","z":"8c0cf3c1dc74433d","name":"MQTT min/max setting","info":"in pratica, tramite publisher, noi possiamo andare ad aggiornare i valori di umidità e temperatura, che poi passano per il testo e vanno poi in arduino (si usiamo node red come intermediario)","x":200,"y":300,"wires":[]},{"id":"e5f693b8bbdd2239","type":"comment","z":"8c0cf3c1dc74433d","name":"MQTT storage information","info":"vado a salvare su un file di testo le informazioni che ricevo dall'MQTT","x":1510,"y":420,"wires":[]},{"id":"bfa29eefc83e4aac","type":"comment","z":"8c0cf3c1dc74433d","name":"min/max setting function","info":"ricevono i valori hmin-hmax,tmin-tmax, e creano la variabile flow di tali valori","x":1710,"y":80,"wires":[]},{"id":"cde5c9c2643e8bbe","type":"comment","z":"8c0cf3c1dc74433d","name":"debug di controllo","info":"Per verificare che il sistema funzioni","x":470,"y":40,"wires":[]},{"id":"a083993ea232dca2","type":"comment","z":"8c0cf3c1dc74433d","name":"debug di controllo","info":"Per verificare che il sistema funzioni","x":1770,"y":420,"wires":[]},{"id":"9b4c9b8e3e40ba9a","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/umidità_massima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":1490,"y":200,"wires":[["f1ff407f6b5285a8","44453fc89965e2f4"]]},{"id":"6b6db15fe05b7ff5","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"serra/set/temperatura_massima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":1510,"y":320,"wires":[["2339c21ea9a3b32a","3c374e35684b2d70"]]},{"id":"6a752a7c841468e9","type":"ui_numeric","z":"8c0cf3c1dc74433d","name":"hmin indicator","label":"hmin indicator","tooltip":"","group":"05f89358dcf8de6f","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"hummin","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":2100,"y":140,"wires":[[]]},{"id":"44453fc89965e2f4","type":"ui_numeric","z":"8c0cf3c1dc74433d","name":"hmax indicator","label":"hmax indicator","tooltip":"","group":"05f89358dcf8de6f","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"hummax","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":2100,"y":200,"wires":[[]]},{"id":"69fdf367d3646af6","type":"ui_numeric","z":"8c0cf3c1dc74433d","name":"tmin indicator","label":"tmin indicator","tooltip":"","group":"a8073a801ee2e351","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":2090,"y":260,"wires":[[]]},{"id":"3c374e35684b2d70","type":"ui_numeric","z":"8c0cf3c1dc74433d","name":"tmax indicator","label":"tmax indicator","tooltip":"","group":"a8073a801ee2e351","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":2100,"y":320,"wires":[[]]},{"id":"a2801aba1a0e019e","type":"comment","z":"8c0cf3c1dc74433d","name":"MQTT min/max indicator","info":"","x":2110,"y":80,"wires":[]},{"id":"3f4ab71cf46223c2","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":"10"},{"id":"05f89358dcf8de6f","type":"ui_group","name":"Humidity","tab":"6c4d35c246bd4b79","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8073a801ee2e351","type":"ui_group","name":"Temperature","tab":"6c4d35c246bd4b79","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f7fd674a766f1da1","type":"ui_group","name":"Led","tab":"6c4d35c246bd4b79","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4b830275d50125ee","type":"ui_group","name":"tank","tab":"6c4d35c246bd4b79","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9f28420e58981ba4","type":"ui_group","name":"pump","tab":"6c4d35c246bd4b79","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"8ea92a7ff9e2785f","type":"ui_group","name":"Humidity","tab":"401001d91fb3b889","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a0d18eb35b549e3c","type":"ui_group","name":"Temperature","tab":"db7214f002cf6485","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6c4d35c246bd4b79","type":"ui_tab","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false},{"id":"401001d91fb3b889","type":"ui_tab","name":"MQTT-localeH","icon":"dashboard","disabled":false,"hidden":false},{"id":"db7214f002cf6485","type":"ui_tab","name":"MQTT-localeT","icon":"dashboard","disabled":false,"hidden":false}]