progetto flow.txt
[{"id":"c0f12d9ed36c8b5b","type":"tab","label":"Luciana Serra Pilotabile","disabled":false,"info":"","env":[]},{"id":"3de80c457f20d486","type":"serial in","z":"c0f12d9ed36c8b5b","name":"Arduino","serial":"66d770254e87d682","x":330,"y":140,"wires":[["1b0d8fe2768e97d6"]]},{"id":"1b0d8fe2768e97d6","type":"json","z":"c0f12d9ed36c8b5b","name":"","property":"payload","action":"","pretty":true,"x":470,"y":140,"wires":[["101493e480fdb3fa"]]},{"id":"101493e480fdb3fa","type":"split","z":"c0f12d9ed36c8b5b","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":650,"y":140,"wires":[["8ed516a970669e51","43b12a6844205772","1fed1b05ede54b3f","c1ecfed09a667ecb","2d07b3d6617bfa86","7718d5ce9948ceeb"]]},{"id":"8ed516a970669e51","type":"switch","z":"c0f12d9ed36c8b5b","name":"Switch 1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"acqua","vt":"str"},{"t":"eq","v":"pompa","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"T","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":920,"y":300,"wires":[["29255037310dbc4b"],["6680763f503a26e3"],["bc5ba8711aa9ff66","94514a728e168453","bd7842ac2d652497","dba0887e0ab99bb5","2b03d2a0f4fb282c","710be4495f235381"],["c18fff1a6d41cc01","c7f1590c9abba75b","0c51464c3cee8a3f","4fe3c575f182022d","b75bf81737021a02","e53ddbd9d83f6f6d"]]},{"id":"43b12a6844205772","type":"debug","z":"c0f12d9ed36c8b5b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":910,"y":140,"wires":[]},{"id":"bc5ba8711aa9ff66","type":"ui_chart","z":"c0f12d9ed36c8b5b","name":"Humidity","group":"76a44f7de9201fc6","order":1,"width":"0","height":"0","label":"humidity over time (g/m^3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"humidity (g/m^3)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1220,"y":240,"wires":[[]]},{"id":"94514a728e168453","type":"ui_gauge","z":"c0f12d9ed36c8b5b","name":"","group":"76a44f7de9201fc6","order":2,"width":"0","height":"0","gtype":"gage","title":"humidity gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1400,"y":240,"wires":[]},{"id":"c18fff1a6d41cc01","type":"ui_chart","z":"c0f12d9ed36c8b5b","name":"temperature","group":"82f70e7d3c816a1c","order":10,"width":"0","height":"0","label":"temperature over time (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d91212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":320,"wires":[[]]},{"id":"c7f1590c9abba75b","type":"ui_gauge","z":"c0f12d9ed36c8b5b","name":"","group":"82f70e7d3c816a1c","order":15,"width":"0","height":"0","gtype":"gage","title":"temperature gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1410,"y":320,"wires":[]},{"id":"31723819e2f1bb05","type":"function","z":"c0f12d9ed36c8b5b","name":"hmin","func":"flow.set (\"valore_hum_min\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":280,"wires":[[]]},{"id":"3b701b3a374aed1f","type":"function","z":"c0f12d9ed36c8b5b","name":"hmax","func":"flow.set (\"valore_hum_max\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":320,"wires":[[]]},{"id":"3b246e1142625f45","type":"function","z":"c0f12d9ed36c8b5b","name":"tmin","func":"flow.set (\"valore_temp_min\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":360,"wires":[[]]},{"id":"8264024aae8e8b5d","type":"function","z":"c0f12d9ed36c8b5b","name":"tmax","func":"flow.set (\"valore_temp_max\",msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":400,"wires":[[]]},{"id":"dba0887e0ab99bb5","type":"function","z":"c0f12d9ed36c8b5b","name":"hmax","func":"\nif (msg.payload > flow.get(\"valore_hum_max\"))\n return(null,msg);  //il 1 dato non esce, mentre il secondo si...\n                    //ipotizzo perchè il flow è il 1 dato (è già noto, è una flow), e quello che entra dentro è il payload, quindi il secondo\n \nelse \nreturn (msg,null);","outputs":1,"noerr":0,"initialize":"\n//added here will be run once\n// whenever the node is started.\n","finalize":"","libs":[],"x":1170,"y":500,"wires":[["fdb0577c98b07cad"]]},{"id":"bd7842ac2d652497","type":"function","z":"c0f12d9ed36c8b5b","name":"hmin","func":"if (msg.payload < flow.get(\"valore_hum_min\"))\n return(null,msg);\n \nelse \nreturn (msg,null);  // dato che ho una sola uscita, solo 1 mex esce, l'altro no","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":460,"wires":[["10e40b112b531796"]]},{"id":"0c51464c3cee8a3f","type":"function","z":"c0f12d9ed36c8b5b","name":"tmin","func":"\nif (msg.payload < flow.get(\"valore_temp_min\"))\n return(null,msg);\n \nelse \nreturn (msg,null);","outputs":1,"noerr":0,"initialize":"\n//added here will be run once\n// whenever the node is started.\n","finalize":"","libs":[],"x":1170,"y":540,"wires":[["6d733d2dd55598b4"]]},{"id":"4fe3c575f182022d","type":"function","z":"c0f12d9ed36c8b5b","name":"tmax","func":"if (msg.payload > flow.get(\"valore_temp_max\"))\n return(null,msg);\n \nelse \nreturn (msg,null);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":580,"wires":[["fd9be3408924f334"]]},{"id":"61a8c4aab6d6e687","type":"serial out","z":"c0f12d9ed36c8b5b","name":"","serial":"66d770254e87d682","x":910,"y":1240,"wires":[]},{"id":"3b2dae62e646df4d","type":"ui_text_input","z":"c0f12d9ed36c8b5b","name":"hum min","label":"hum min setting","tooltip":"","group":"76a44f7de9201fc6","order":17,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"hmin","sendOnBlur":true,"className":"","topicType":"msg","x":280,"y":920,"wires":[["9b40f835370958b9","cc503ed720cf237a","eca4d67d680a6ef5"]]},{"id":"42e5c8e8daa7f4e9","type":"ui_text_input","z":"c0f12d9ed36c8b5b","name":"temp max","label":"temp max setting","tooltip":"","group":"82f70e7d3c816a1c","order":27,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":260,"y":1480,"wires":[["82b99b1386d7e3ab","063d59056aa83cb4","7cf01a22b04b5464"]]},{"id":"8b100e1665e69095","type":"ui_text_input","z":"c0f12d9ed36c8b5b","name":"temp min","label":"temp min setting","tooltip":"","group":"82f70e7d3c816a1c","order":26,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":280,"y":1280,"wires":[["9b17f3b6644b2de1","7c264a47a8bba6a1","7a1848f8ccd39cee"]]},{"id":"3c1b3f403f407eb5","type":"ui_text_input","z":"c0f12d9ed36c8b5b","name":"hum max","label":"hum max setting","tooltip":"","group":"76a44f7de9201fc6","order":26,"width":"0","height":"0","passthru":true,"mode":"text","delay":"0","topic":"hmax","sendOnBlur":true,"className":"","topicType":"msg","x":280,"y":1100,"wires":[["3ae9fc28ba5e1412","881259df800f1f7a","0864181c139ac4b0"]]},{"id":"ca63f25afb0fd94d","type":"ui_numeric","z":"c0f12d9ed36c8b5b","name":"hmin indicator","label":"hmin indicator","tooltip":"","group":"76a44f7de9201fc6","order":15,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"hummin","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":520,"y":520,"wires":[[]]},{"id":"27737da0afb6122a","type":"function","z":"c0f12d9ed36c8b5b","name":"hmin function","func":"var hmin=context.get('hmin'); // || 0 sta a significare che se non esiste la variabile, ci assegno il valore 0\nmsg.payload=\"a\"+msg.payload+\"q\"\ncontext.set(\"hmin\",hmin);  // salvo la variabile\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":920,"wires":[["61a8c4aab6d6e687"]]},{"id":"c0b7eb1e4ca7d31a","type":"function","z":"c0f12d9ed36c8b5b","name":"hmax function","func":"var hmax=context.get('hmax'); // || 0 sta a significare che se non esiste la variabile, ci assegno il valore 0\nmsg.payload=\"b\"+msg.payload+\"q\"\ncontext.set(\"hmax\",hmax);  // salvo la variabile\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1060,"wires":[["61a8c4aab6d6e687"]]},{"id":"b9d4f9939b5c7272","type":"function","z":"c0f12d9ed36c8b5b","name":"tmin function","func":"var tmin=context.get('tmin'); // || 0 sta a significare che se non esiste la variabile, ci assegno il valore 0\nmsg.payload=\"c\"+msg.payload+\"q\"\ncontext.set(\"tmin\",tmin);  // salvo la variabile\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1320,"wires":[["61a8c4aab6d6e687"]]},{"id":"595911bd9e797ee4","type":"function","z":"c0f12d9ed36c8b5b","name":"tmax function","func":"var tmax=context.get('tmax'); // || 0 sta a significare che se non esiste la variabile, ci assegno il valore 0\nmsg.payload=\"d\"+msg.payload+\"q\"\ncontext.set(\"tmax\",tmax);  // salvo la variabile\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1420,"wires":[["61a8c4aab6d6e687"]]},{"id":"701dd0fdfa0bd7e4","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_hum_min","vt":"flow"},{"t":"gt","v":"valore_hum_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":700,"wires":[["75ea2c9059b7c1fc"],["9f014a6ef3d08d4c"]]},{"id":"c10ec78b11293ac3","type":"ui_led","z":"c0f12d9ed36c8b5b","order":28,"group":"4edf6f6a1fa4b2b5","width":0,"height":0,"label":"status hmin","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1690,"y":680,"wires":[]},{"id":"75ea2c9059b7c1fc","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":660,"wires":[["c10ec78b11293ac3"]]},{"id":"9f014a6ef3d08d4c","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":700,"wires":[["c10ec78b11293ac3"]]},{"id":"d028c4b398a0609b","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_hum_max","vt":"flow"},{"t":"gt","v":"valore_hum_max","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":760,"wires":[["3789dece46275c82"],["88d645dcee63bf46"]]},{"id":"3789dece46275c82","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":740,"wires":[["345fa64736e3fd98"]]},{"id":"88d645dcee63bf46","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":780,"wires":[["345fa64736e3fd98"]]},{"id":"345fa64736e3fd98","type":"ui_led","z":"c0f12d9ed36c8b5b","order":28,"group":"4edf6f6a1fa4b2b5","width":0,"height":0,"label":"status hmax","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1690,"y":760,"wires":[]},{"id":"ddabc53c3a38438f","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_temp_min","vt":"flow"},{"t":"gt","v":"valore_temp_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":840,"wires":[["f87ef5182d2f8335"],["d74c3d4363999299"]]},{"id":"f87ef5182d2f8335","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":820,"wires":[["bb2edffed0a6db34"]]},{"id":"d74c3d4363999299","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":860,"wires":[["bb2edffed0a6db34"]]},{"id":"bb2edffed0a6db34","type":"ui_led","z":"c0f12d9ed36c8b5b","order":24,"group":"4edf6f6a1fa4b2b5","width":0,"height":0,"label":"status tmin","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1690,"y":840,"wires":[]},{"id":"8aa91e50b7b2a4b9","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_temp_max","vt":"flow"},{"t":"gt","v":"valore_temp_max","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":920,"wires":[["61f94b2448dff73a"],["c6e73d166c819d04"]]},{"id":"61f94b2448dff73a","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":900,"wires":[["fae192b953812cd3"]]},{"id":"c6e73d166c819d04","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":940,"wires":[["fae192b953812cd3"]]},{"id":"fae192b953812cd3","type":"ui_led","z":"c0f12d9ed36c8b5b","order":25,"group":"4edf6f6a1fa4b2b5","width":0,"height":0,"label":"status tmax","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1690,"y":920,"wires":[]},{"id":"557c7cd9f049d3db","type":"ui_numeric","z":"c0f12d9ed36c8b5b","name":"hmax indicator","label":"hmax indicator","tooltip":"","group":"76a44f7de9201fc6","order":16,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"hummax","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":520,"y":560,"wires":[[]]},{"id":"b39b916f76801df8","type":"ui_numeric","z":"c0f12d9ed36c8b5b","name":"tmin indicator","label":"tmin indicator","tooltip":"","group":"82f70e7d3c816a1c","order":23,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":510,"y":600,"wires":[[]]},{"id":"d5f53a3d7399a26e","type":"ui_numeric","z":"c0f12d9ed36c8b5b","name":"tmax indicator","label":"tmax indicator","tooltip":"","group":"82f70e7d3c816a1c","order":23,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":10,"step":1,"className":"","x":520,"y":640,"wires":[[]]},{"id":"fc93db632ad32119","type":"comment","z":"c0f12d9ed36c8b5b","name":"min/max indicator","info":"","x":520,"y":480,"wires":[]},{"id":"868ea6668a9d39b7","type":"comment","z":"c0f12d9ed36c8b5b","name":"led indicator","info":"led che mi danno informazioni se l'umidità e la temperatura sono dentro i livelli prestabiliti o meno","x":1490,"y":620,"wires":[]},{"id":"dc22228afb7f4ccf","type":"comment","z":"c0f12d9ed36c8b5b","name":"Node Red min/max setting","info":"// il settaggio lo facciamo su Node red","x":550,"y":820,"wires":[]},{"id":"7e4f4bcc5814d66e","type":"comment","z":"c0f12d9ed36c8b5b","name":"start button","info":"serve per poter inviare una q ogni secondo, per permettere al sistema di funzionare e inviare i messaggi.\nquesto è dovuto al fatto che si sta usando uno switch case, che impone il sistema a lavorare come una macchina a stati: la q è rivolta ad una condizione di default, ossia quella di invio dei messaggi, mentre le altre lettere (a,b,c,d) sono indirizzate per il settaggio del valori di min/max","x":680,"y":1560,"wires":[]},{"id":"c5cc8fa81603e731","type":"comment","z":"c0f12d9ed36c8b5b","name":"MAN min/max setting","info":"//il settaggio viene fatto da Arduino","x":320,"y":220,"wires":[]},{"id":"f3a48febbcd66961","type":"comment","z":"c0f12d9ed36c8b5b","name":"Min/max control","info":"// qua avviene il controllo del valore di umidità e //temperatura, assicurandosi che sia sempre o //maggiore o minore del min/max, altrimenti parte un\n//allarme","x":1200,"y":420,"wires":[]},{"id":"277a573af331b324","type":"function","z":"c0f12d9ed36c8b5b","name":"MQTT function","func":"out=context.data || {}\n//node.log(\"start\"+msg.payload); // node.log viene notificato su node.js\n//node.log(\"start stored\"+context.data);\ntopic=msg.topic;\n//node.log(topic);\n\nif (msg.payload=='send')\n{\n    msg.payload=context.data;\n    msg.out=\"Sent data to\"+out.house;\n    msg.topic=\"Storage/serra\";\n    context.data=null;\n    return(msg);\n}\nelse\n{\n    out[topic]=msg.payload;\n    context.data=out;\n//    node.log('stored'+context.data);\n    return (null);\n}    ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1580,"y":1260,"wires":[["ce22e15a18a1c694"]]},{"id":"f1b7fd6f0f87fd55","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"H","fromt":"str","to":"Serra/sensore/umidità","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"T","fromt":"str","to":"Serra/sensore/temperatura","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"acqua","fromt":"str","to":"Serra/sensore/acqua","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"pompa","fromt":"str","to":"Serra/sensore/pompa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1180,"wires":[["277a573af331b324","2589c9a01f8fbccb"]]},{"id":"dd7ae167facad914","type":"inject","z":"c0f12d9ed36c8b5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"Serra/controllo","payload":"send","payloadType":"str","x":1280,"y":1280,"wires":[["277a573af331b324"]]},{"id":"ce22e15a18a1c694","type":"json","z":"c0f12d9ed36c8b5b","name":"","property":"payload","action":"","pretty":false,"x":1750,"y":1260,"wires":[["f23f17d6e22149f5"]]},{"id":"f23f17d6e22149f5","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":1890,"y":1260,"wires":[]},{"id":"ee6b96ba0133431e","type":"mqtt in","z":"c0f12d9ed36c8b5b","name":"","topic":"Storage/serra","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":1230,"y":1460,"wires":[["6c7fff2ee6a7a96e"]]},{"id":"6c7fff2ee6a7a96e","type":"json","z":"c0f12d9ed36c8b5b","name":"","property":"payload","action":"","pretty":true,"x":1430,"y":1460,"wires":[["342af649aa2819c0","f9971e77bdf00538"]]},{"id":"342af649aa2819c0","type":"debug","z":"c0f12d9ed36c8b5b","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":1440,"wires":[]},{"id":"f56ad58195b26d79","type":"file","z":"c0f12d9ed36c8b5b","name":"","filename":"progetto.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1890,"y":1500,"wires":[[]]},{"id":"4c02b2db5b415786","type":"inject","z":"c0f12d9ed36c8b5b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"q","payloadType":"str","x":690,"y":1600,"wires":[["61a8c4aab6d6e687"]]},{"id":"ade0b9b851b476d0","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/sensore/umidità","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":1660,"y":1040,"wires":[]},{"id":"14a38fc64b4b3685","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/sensore/temperatura","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":1920,"y":1040,"wires":[]},{"id":"0c1cf674af86c497","type":"mqtt in","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/umidità_minima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":840,"wires":[["3b2dae62e646df4d"]]},{"id":"1fed1b05ede54b3f","type":"switch","z":"c0f12d9ed36c8b5b","name":"Switch 2","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"hmin","vt":"str"},{"t":"eq","v":"hmax","vt":"str"},{"t":"eq","v":"tmin","vt":"str"},{"t":"eq","v":"tmax","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":180,"y":340,"wires":[["31723819e2f1bb05"],["3b701b3a374aed1f"],["3b246e1142625f45"],["8264024aae8e8b5d"]]},{"id":"c79cb2f218355507","type":"comment","z":"c0f12d9ed36c8b5b","name":"Min/Max audio allert","info":"se i valori sono sopra-sotto ai valori di Set Point impostati, scatta l'allarme","x":1610,"y":420,"wires":[]},{"id":"8f487b373837cbae","type":"mqtt in","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/umidità_massima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":1040,"wires":[["3c1b3f403f407eb5"]]},{"id":"31669170c618106b","type":"mqtt in","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/temperatura_minima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":260,"y":1220,"wires":[["8b100e1665e69095"]]},{"id":"3f46adab7a5f2f2d","type":"mqtt in","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/temperatura_massima","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":1400,"wires":[["42e5c8e8daa7f4e9"]]},{"id":"e83eb4b929ca66c2","type":"comment","z":"c0f12d9ed36c8b5b","name":"MQTT min/max setting","info":"in pratica, tramite publisher, noi possiamo andare ad aggiornare i valori di umidità e temperatura, che poi passano per il testo e vanno poi in arduino (si usiamo node red come intermediario)","x":260,"y":800,"wires":[]},{"id":"c1ecfed09a667ecb","type":"switch","z":"c0f12d9ed36c8b5b","name":"Switch 4","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"T","vt":"str"},{"t":"eq","v":"acqua","vt":"str"},{"t":"eq","v":"pompa","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":980,"y":780,"wires":[["ade0b9b851b476d0","701dd0fdfa0bd7e4","d028c4b398a0609b"],["14a38fc64b4b3685","ddabc53c3a38438f","8aa91e50b7b2a4b9"],["12c60e3dbabc647e"],["4aaa94dc522ff5b1"]]},{"id":"63bddc145f93dd75","type":"ui_text","z":"c0f12d9ed36c8b5b","group":"0d2386bb4763cf54","order":34,"width":0,"height":0,"name":"","label":"Tank status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1710,"y":120,"wires":[]},{"id":"2d07b3d6617bfa86","type":"switch","z":"c0f12d9ed36c8b5b","name":"Switch 3","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"hmin","vt":"str"},{"t":"eq","v":"hmax","vt":"str"},{"t":"eq","v":"tmin","vt":"str"},{"t":"eq","v":"tmax","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":340,"y":580,"wires":[["ca63f25afb0fd94d"],["557c7cd9f049d3db"],["b39b916f76801df8"],["d5f53a3d7399a26e"]]},{"id":"2b03d2a0f4fb282c","type":"ui_chart","z":"c0f12d9ed36c8b5b","name":"Humidity","group":"d5132284641a50da","order":1,"width":"0","height":"0","label":"humidity over time (g/m^3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"humidity (g/m^3)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1220,"y":280,"wires":[[]]},{"id":"710be4495f235381","type":"ui_gauge","z":"c0f12d9ed36c8b5b","name":"","group":"d5132284641a50da","order":2,"width":"0","height":"0","gtype":"gage","title":"humidity gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1400,"y":280,"wires":[]},{"id":"b75bf81737021a02","type":"ui_chart","z":"c0f12d9ed36c8b5b","name":"temperature","group":"61db8c53fde9cc9d","order":10,"width":"0","height":"0","label":"temperature over time (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d91212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1230,"y":360,"wires":[[]]},{"id":"e53ddbd9d83f6f6d","type":"ui_gauge","z":"c0f12d9ed36c8b5b","name":"","group":"61db8c53fde9cc9d","order":15,"width":"0","height":"0","gtype":"gage","title":"temperature gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1410,"y":360,"wires":[]},{"id":"7718d5ce9948ceeb","type":"switch","z":"c0f12d9ed36c8b5b","name":"Switch 5","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"T","vt":"str"},{"t":"eq","v":"acqua","vt":"str"},{"t":"eq","v":"pompa","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":1080,"y":1180,"wires":[["f1b7fd6f0f87fd55"],["f1b7fd6f0f87fd55"],["f1b7fd6f0f87fd55"],["f1b7fd6f0f87fd55"]]},{"id":"812f28376f1962be","type":"comment","z":"c0f12d9ed36c8b5b","name":"MQTT for MQTT flow","info":"la MQTT function ci permette di inviare ogni tot tempo le info nell'MQTT (in pratica, lui prende le info e le immagazzina, sovrascrivendole; non appena arriva il segnale send, lui fa uscire quello immagazzinato)\nQuesti blocchi hanno il compito di inviare info all'altro flow (e non solo).","x":1600,"y":1120,"wires":[]},{"id":"1fdff4e9691f62b2","type":"comment","z":"c0f12d9ed36c8b5b","name":"MQTT  values","info":"Invio tramite MQTT i valori singolarmente (non insieme, quindi ho 4 publisher qua)","x":1470,"y":1000,"wires":[]},{"id":"1d272624df890676","type":"ui_button","z":"c0f12d9ed36c8b5b","d":true,"name":"process start","group":"4edf6f6a1fa4b2b5","order":14,"width":0,"height":0,"passthru":false,"label":"process start","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"q","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":1520,"wires":[["61a8c4aab6d6e687"]]},{"id":"b9745e780b2eb35e","type":"comment","z":"c0f12d9ed36c8b5b","name":"start button","info":"nel caso serva fare un test lunedì con il mio arduino.\nalmeno possiamo farlo partire: ricordarsi di disattivare q, se si vuole fare il test","x":920,"y":1560,"wires":[]},{"id":"9b40f835370958b9","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_hum_max","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":880,"wires":[["27737da0afb6122a"]]},{"id":"cc503ed720cf237a","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"var payload=msg.payload;\nif (payload> flow.get('valore_hum_max')){\n    return(null,msg)\n}\nelse\nreturn (null);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":960,"wires":[["c0b7eb1e4ca7d31a"]]},{"id":"3ae9fc28ba5e1412","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"valore_hum_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":1040,"wires":[["c0b7eb1e4ca7d31a"]]},{"id":"881259df800f1f7a","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"var payload=msg.payload;\nif (payload< flow.get('valore_hum_min')){\n    return(null,msg)\n}\nelse\nreturn (null);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1160,"wires":[["27737da0afb6122a"]]},{"id":"9b17f3b6644b2de1","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"var payload=msg.payload;\nif (payload> flow.get('valore_temp_max')){\n    return(null,msg)\n}\nelse\nreturn (null);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1360,"wires":[["595911bd9e797ee4"]]},{"id":"82b99b1386d7e3ab","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"valore_temp_min","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":1420,"wires":[["595911bd9e797ee4"]]},{"id":"063d59056aa83cb4","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"var payload=msg.payload;\nif (payload< flow.get('valore_temp_min')){\n    return(null,msg)\n}\nelse\nreturn (null);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":1500,"wires":[["b9d4f9939b5c7272"]]},{"id":"7c264a47a8bba6a1","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"valore_temp_max","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":1280,"wires":[["b9d4f9939b5c7272"]]},{"id":"29255037310dbc4b","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":120,"wires":[["747b56c4fc16971d","842b701801be0e0e"],["747b56c4fc16971d","842b701801be0e0e"]]},{"id":"747b56c4fc16971d","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"FULL","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"EMPTY","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":120,"wires":[["63bddc145f93dd75"]]},{"id":"6680763f503a26e3","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":180,"wires":[["421036231c6195f5"],["421036231c6195f5"]]},{"id":"421036231c6195f5","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"ON","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":180,"wires":[["39dc96165060396c"]]},{"id":"39dc96165060396c","type":"ui_text","z":"c0f12d9ed36c8b5b","group":"a324331f84c48c42","order":34,"width":0,"height":0,"name":"","label":"pump status","format":"{{msg.payload}}","layout":"row-spread","className":"","x":1710,"y":180,"wires":[]},{"id":"12c60e3dbabc647e","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/sensore/serbatoio","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":1430,"y":1040,"wires":[]},{"id":"4aaa94dc522ff5b1","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/sensore/pompa","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":1200,"y":1040,"wires":[]},{"id":"437c14e7ab9ce274","type":"comment","z":"c0f12d9ed36c8b5b","name":"debug di controllo","info":"Per verificare che il sistema funzioni","x":910,"y":100,"wires":[]},{"id":"728ca911d138eb47","type":"comment","z":"c0f12d9ed36c8b5b","name":"process graph","info":"grafici ed indicatori delle variabili","x":1290,"y":80,"wires":[]},{"id":"842b701801be0e0e","type":"ui_led","z":"c0f12d9ed36c8b5b","order":35,"group":"0d2386bb4763cf54","width":0,"height":0,"label":"Led Tank","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Led Tank","x":1500,"y":80,"wires":[]},{"id":"528e90acb6a06870","type":"ui_switch","z":"c0f12d9ed36c8b5b","name":"switch tacitazione umidità","label":"tacitazione audio umidità","tooltip":"","group":"a3984df8ba180456","order":25,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1910,"y":260,"wires":[["8c6a97c3ad275161","a685de38237258b5","d2f8eae658d98767"]]},{"id":"716f275627089757","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"flow.set('tacitazione_temperatura', msg.payload);\n\nreturn (msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2340,"y":400,"wires":[[]]},{"id":"8c6a97c3ad275161","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"\nvar payload=msg.payload;\nif (payload=='1')\n{\n    return(msg);\n}\nelse payload=0;\nreturn (msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2160,"y":260,"wires":[["6a708ba61acfe754"]]},{"id":"a685de38237258b5","type":"ui_led","z":"c0f12d9ed36c8b5b","order":24,"group":"a3984df8ba180456","width":0,"height":0,"label":"Led audio Humidity","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2170,"y":200,"wires":[]},{"id":"cbb3ad4e304e5e4b","type":"ui_switch","z":"c0f12d9ed36c8b5b","name":"switch tacitazione temperatura","label":"tacitazione audio temperatura","tooltip":"","group":"a3984df8ba180456","order":25,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":1910,"y":400,"wires":[["b6fea457e60c57ce","41f1bdd2a623ad16","aba42e468ebcdf6a"]]},{"id":"6a708ba61acfe754","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"flow.set('tacitazione_umidità', msg.payload);\n\nreturn (msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2360,"y":260,"wires":[[]]},{"id":"b6fea457e60c57ce","type":"function","z":"c0f12d9ed36c8b5b","name":"","func":"\nvar payload=msg.payload;\nif (payload=='1')\n{\n    return(msg);\n}\nelse payload=0;\nreturn (msg);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2160,"y":400,"wires":[["716f275627089757"]]},{"id":"41f1bdd2a623ad16","type":"ui_led","z":"c0f12d9ed36c8b5b","order":24,"group":"a3984df8ba180456","width":0,"height":0,"label":"Led audio Temperature","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":2150,"y":360,"wires":[]},{"id":"3d37c287b043c504","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"audio on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"audio off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2320,"y":460,"wires":[["4748f14745633329"]]},{"id":"4748f14745633329","type":"ui_text","z":"c0f12d9ed36c8b5b","group":"a3984df8ba180456","order":24,"width":0,"height":0,"name":"audio status","label":"audio status hum","format":"{{msg.payload}}","layout":"row-spread","className":"","x":2550,"y":460,"wires":[]},{"id":"aba42e468ebcdf6a","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2150,"y":460,"wires":[["3d37c287b043c504"],["3d37c287b043c504"]]},{"id":"b38a6e63386ad9e9","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"audio on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"audio off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2340,"y":320,"wires":[["5f15f106a190a126"]]},{"id":"5f15f106a190a126","type":"ui_text","z":"c0f12d9ed36c8b5b","group":"a3984df8ba180456","order":24,"width":0,"height":0,"name":"audio status","label":"audio status temp","format":"{{msg.payload}}","layout":"row-spread","className":"","x":2550,"y":320,"wires":[]},{"id":"d2f8eae658d98767","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2150,"y":320,"wires":[["b38a6e63386ad9e9"],["b38a6e63386ad9e9"]]},{"id":"f9f9b99f508e9749","type":"comment","z":"c0f12d9ed36c8b5b","name":"turning off audio","info":"pulsante per disattivare gli allarmi","x":2200,"y":160,"wires":[]},{"id":"2589c9a01f8fbccb","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":1590,"y":1180,"wires":[]},{"id":"92ac6b2c354e4277","type":"comment","z":"c0f12d9ed36c8b5b","name":"MQTT storage information","info":"vado a salvare su un file di testo le informazioni che ricevo dall'MQTT","x":1270,"y":1380,"wires":[]},{"id":"f9971e77bdf00538","type":"function","z":"c0f12d9ed36c8b5b","name":"convert to csv file","func":"let d=new Date(); \n//let t=d.getTime(); // così lo dispone come una stringa di numeri\n//let h=d.toLocaleTimeString(); //così col formato HH:MM:SS\nlet y=d.getFullYear();\nlet m=(d.getMonth())+1;\nlet g=d.getDate();\nlet h=d.toLocaleTimeString();\nlet t= g+ \"-\" + m +\"-\" + y +\"---\"+h+\";\";\n\npayload={\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic};\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1650,"y":1500,"wires":[["f56ad58195b26d79"]]},{"id":"b15889428bef29d8","type":"comment","z":"c0f12d9ed36c8b5b","name":"debug di controllo","info":"Per verificare che il sistema funzioni","x":1610,"y":1400,"wires":[]},{"id":"fdb0577c98b07cad","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":500,"wires":[["ab71c8cf8ae5d058"]]},{"id":"6d733d2dd55598b4","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":540,"wires":[["d0297a15eeddefa3"]]},{"id":"fd9be3408924f334","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":580,"wires":[["db545e6557688448"]]},{"id":"ab71c8cf8ae5d058","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tacitazione_umidità","vt":"flow"},{"t":"neq","v":"tacitazione_umdità","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":500,"wires":[["ab73174abe2b3248"],[]]},{"id":"d0297a15eeddefa3","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tacitazione_temperatura","vt":"flow"},{"t":"neq","v":"tacitazione_temperatura","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":540,"wires":[["0be925d361320f4f"],[]]},{"id":"db545e6557688448","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tacitazione_temperatura","vt":"flow"},{"t":"neq","v":"tacitazione_temperatura","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":580,"wires":[["24527fd9dbbc5034"],[]]},{"id":"ab73174abe2b3248","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"alto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":500,"wires":[["73f37baf402e3a5d"]]},{"id":"0be925d361320f4f","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"basso1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":540,"wires":[["dab31d136ddc1040"]]},{"id":"24527fd9dbbc5034","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"alto2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":580,"wires":[["e91d821bd27bef64"]]},{"id":"10e40b112b531796","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":460,"wires":[["064e19a07360d0cb"]]},{"id":"064e19a07360d0cb","type":"switch","z":"c0f12d9ed36c8b5b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"tacitazione_umidità","vt":"flow"},{"t":"neq","v":"tacitazione_umidità","vt":"flow"}],"checkall":"true","repair":false,"outputs":2,"x":1430,"y":460,"wires":[["156863c88c1dc7db"],[]]},{"id":"156863c88c1dc7db","type":"change","z":"c0f12d9ed36c8b5b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"basso","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":460,"wires":[["6a724acc539dea12"]]},{"id":"73f37baf402e3a5d","type":"ui_audio","z":"c0f12d9ed36c8b5b","name":"","group":"76a44f7de9201fc6","voice":"Microsoft Elsa - Italian (Italy)","always":"","x":1720,"y":500,"wires":[]},{"id":"e91d821bd27bef64","type":"ui_audio","z":"c0f12d9ed36c8b5b","name":"","group":"82f70e7d3c816a1c","voice":"Microsoft Cosimo - Italian (Italy)","always":"","x":1720,"y":580,"wires":[]},{"id":"dab31d136ddc1040","type":"ui_audio","z":"c0f12d9ed36c8b5b","name":"","group":"82f70e7d3c816a1c","voice":"Microsoft Cosimo - Italian (Italy)","always":"","x":1720,"y":540,"wires":[]},{"id":"6a724acc539dea12","type":"ui_audio","z":"c0f12d9ed36c8b5b","name":"","group":"76a44f7de9201fc6","voice":"Microsoft Elsa - Italian (Italy)","always":false,"x":1720,"y":460,"wires":[]},{"id":"eca4d67d680a6ef5","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/umidità_minima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":270,"y":980,"wires":[]},{"id":"0864181c139ac4b0","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/umidità_massima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":260,"y":1160,"wires":[]},{"id":"7a1848f8ccd39cee","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/temperatura_minima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":250,"y":1340,"wires":[]},{"id":"7cf01a22b04b5464","type":"mqtt out","z":"c0f12d9ed36c8b5b","name":"","topic":"serra/set/temperatura_massima","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"3f4ab71cf46223c2","x":250,"y":1540,"wires":[]},{"id":"66d770254e87d682","type":"serial-port","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"76a44f7de9201fc6","type":"ui_group","name":"Humidity","tab":"bd9f46877992e2c2","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"82f70e7d3c816a1c","type":"ui_group","name":"Temperature","tab":"bd9f46877992e2c2","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4edf6f6a1fa4b2b5","type":"ui_group","name":"Led","tab":"bd9f46877992e2c2","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3f4ab71cf46223c2","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":"10"},{"id":"0d2386bb4763cf54","type":"ui_group","name":"Tank","tab":"bd9f46877992e2c2","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d5132284641a50da","type":"ui_group","name":"Humidity","tab":"45ce2414dccccb3b","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"61db8c53fde9cc9d","type":"ui_group","name":"Temperatura","tab":"45ce2414dccccb3b","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a324331f84c48c42","type":"ui_group","name":"pump","tab":"bd9f46877992e2c2","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a3984df8ba180456","type":"ui_group","name":"audio","tab":"bd9f46877992e2c2","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bd9f46877992e2c2","type":"ui_tab","name":"Progetto-home","icon":"dashboard","disabled":false,"hidden":false},{"id":"45ce2414dccccb3b","type":"ui_tab","name":"progetto","icon":"dashboard","disabled":false,"hidden":false}]