Red-node_flow_serial.txt
[{"id":"8c0cf3c1dc74433d","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"fa3dfe671ae98f33","type":"mqtt in","z":"8c0cf3c1dc74433d","name":"","topic":"qwerty","qos":"2","datatype":"auto","broker":"3f4ab71cf46223c2","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":80,"wires":[["289807288d38df82"]]},{"id":"289807288d38df82","type":"json","z":"8c0cf3c1dc74433d","name":"","property":"payload","action":"","pretty":false,"x":330,"y":80,"wires":[["39fb25430d388d39","e0268518ec1783bd"]]},{"id":"39fb25430d388d39","type":"debug","z":"8c0cf3c1dc74433d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"a34ea943ceb66488","type":"switch","z":"8c0cf3c1dc74433d","name":"Switch 1","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"acqua","vt":"str"},{"t":"eq","v":"pompa","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"T","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":520,"y":180,"wires":[[],[],["f636889ff6eca198","bdce3aa4d717fc8d"],["748e00c0e03972b2","8cd08ed9932a3095"]]},{"id":"f636889ff6eca198","type":"ui_chart","z":"8c0cf3c1dc74433d","name":"Humidity","group":"05f89358dcf8de6f","order":1,"width":"0","height":"0","label":"humidity over time (g/m^3)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"humidity (g/m^3)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ea02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":760,"y":80,"wires":[[]]},{"id":"bdce3aa4d717fc8d","type":"ui_gauge","z":"8c0cf3c1dc74433d","name":"","group":"05f89358dcf8de6f","order":2,"width":"0","height":"0","gtype":"gage","title":"humidity gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":880,"y":120,"wires":[]},{"id":"748e00c0e03972b2","type":"ui_chart","z":"8c0cf3c1dc74433d","name":"temperature","group":"a8073a801ee2e351","order":10,"width":"0","height":"0","label":"temperature over time (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"35","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d91212","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":870,"y":200,"wires":[[]]},{"id":"8cd08ed9932a3095","type":"ui_gauge","z":"8c0cf3c1dc74433d","name":"","group":"05f89358dcf8de6f","order":15,"width":"0","height":"0","gtype":"gage","title":"temperature gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":910,"y":300,"wires":[]},{"id":"e0268518ec1783bd","type":"change","z":"8c0cf3c1dc74433d","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"Serra/sensore/umidità","fromt":"str","to":"H","tot":"str"},{"t":"change","p":"topic","pt":"msg","from":"Serra/sensore/temperatura","fromt":"str","to":"T","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["a34ea943ceb66488"]]},{"id":"3f4ab71cf46223c2","type":"mqtt-broker","name":"","broker":"broker.mqttdashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":"10"},{"id":"05f89358dcf8de6f","type":"ui_group","name":"Humidity","tab":"6c4d35c246bd4b79","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8073a801ee2e351","type":"ui_group","name":"Temperature","tab":"6c4d35c246bd4b79","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6c4d35c246bd4b79","type":"ui_tab","name":"MQTT","icon":"dashboard","disabled":false,"hidden":false}]